@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor1: #FFFF00;
    --cor2: #FFEA00;
    --cor3: #FFFFED;
    --cor4: #FFEE8C;
    --cor5: #FFF44F;
    --cor6: #FFBF00;
    --cor7: #FFD700;
    --cor8: #FFDB58;
    --cor9: #FFFF8F;
    --cor10: #FFC000;
    --cor11: #F4C430;
    --cor12: #DFFF00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*Área dos cursos*/

.cursos{
    width: 100%;
    height: auto;
    background-color: #FFD700;
    padding-top: 20px;
}

.cursos h1{
    text-align: center;
}

.curso-main {
    max-width: 1000px;
    margin: auto;
}
  
  .curso-row {
    margin: 8px -16px;
  }
  
  .curso-row,
  .curso-row > .curso-column {
    padding: 8px;
  }
  
  .curso-column {
    float: left;
    width: 25%;
  }
  
  .curso-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .curso-content {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
  }

  .curso-content img {
    border-radius: 10px;
  }

  .curso-button {
    border-radius: 4px;
    background-color: #FFBF00;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 12px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
  }
  
  .curso-button a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .curso-button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .curso-button:hover a {
    padding-right: 25px;
  }
  
  .curso-button:hover a:after {
    opacity: 1;
    right: 0;
  }

  #mais{
    display: none;
  }

  #meuBotao{
    border: none;
    background-color: inherit;
    padding: 14px 14px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    font-weight: bolder;
  }
  
  @media screen and (max-width: 900px) {
    .curso-column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .curso-column {
      width: 100%;
    }
  }